.local/
.Xauthority
Downloads/
Desktop/
Code/
Pictures/
VirtualBox\ VMs/
.fehbg
.thumbnails
.cache/
.config/gtk-2.0/
.config/QtProject.conf
.config/VirtualBox/
.config/recently-used.xbel
.config/dconf/
.config/nvim/shada/
.config/nvim/plugged/
.config/nvim/swap/
.config/xorg/
.config/gegl-0.2/
.gimp-2.8/
.mozilla/
